{% set title = 'Изменить' %}

{% extends 'default.html' %}

{% block content %}
<div class="container main-container">
    <div class="products-list">
        <h3>Изменение товара</h3>
        <form class="new-product" method="post" enctype="multipart/form-data">
            <label for="title" class="form-label">Название товара</label>
            <input name="title" type="text" class="form-control" id="title" aria-describedby="emailHelp" value="{{ product[2] }}" required>
            <label for="description" class="form-label">Описание товара</label>
            <textarea name="description" class="form-control" id="description" aria-describedby="emailHelp" required>{{ product[3] }}</textarea>
            <label for="category" class="form-label">Категория товара</label>
            <select name="category" id="category" class="form-select" aria-label="Default select example">
                {% for category in categories %}
                {% if category[0] == product[1] %}
                <option value="{{ category[0] }}" selected>{{ category[1] }}</option>
                {% else %}
                <option value="{{ category[0] }}">{{ category[1] }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <label for="price" class="form-label">Цена в рублях</label>
            <input name="price" type="number" class="form-control" id="price" aria-describedby="emailHelp" min="0" step="1" value="{{ product[4] }}" required>
            <label for="photo" class="form-label">Фото</label>
            <input type="file" name="photo" id="photo" style="display: block" accept=".png,.jpg,.jpeg" required>
            <button type="submit" class="btn btn-danger">Изменить товар</button>
        </form>
    </div>
</div>
{% endblock %}